@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html{
  font-family: 'Manrope', sans-serif;
  z-index: 1;

}

.main{
  margin-left: 8vw;
  margin-right: 8vw;
}

code{
  font-family: "JetBrains Mono", monospace;
}

img{
  max-width: 50vw;
}


.images{
  display: flex;
}

.images img{
  max-width: 20vw;
  height: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: min(calc(var(--aspect-ratio, .5625) * 100%), 60vh);
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

titles {
  font-weight: 900;
  background-attachment: fixed;
  font-style: normal;
  position: sticky;
  font-size: max(min(1.3vmin, 30pt), 10pt);
  top: 0;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: min(1.4vmin, 140pt);
  text-align: center;
  z-index: 20;
  display: block;
  align-items: center;
  justify-content: center;
}


titles br {
  padding-top: 100px;
}
titles h1 {
  font-weight: 1000;
display: block;
}

titles h2{
  font-weight: 500;
  display: block;

}

titles div {
  position: inherit;
  vertical-align: center;
  float: bottom;
  font-weight: 500;
  display: inline;
  /*
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  */
}

.fa {

  padding: 20px;
  font-size: 100pt;
  width: auto;
  text-align: center;
  text-decoration: none;
  background: rgba(0,0,0,0);
  color: black;
}

div .fa{
  font-size: 50pt;   position: fixed;
  left: 4vw; bottom:30%; padding: 0;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.colorful-text{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.grad-bg{
  line-height: 1.0;
  background: linear-gradient(-45deg, rgba(222, 173, 255, 0.4), rgb(197, 223, 255)) ;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;  text-shadow: none;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media(max-width: 600px){
  div .fa{
    position: relative;
    display: inline;
    left: 0;
  font-size: 30pt;
    margin-bottom: 15pt;
  }
}
